
/* ----------------------------------|
|  Stylesheet for worklog/index.html |
| ----------------------------------*/

@font-face { /* Custom font for the header by Pablo Impallari - http://www.google.com/webfonts/specimen/Lobster */
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster'), url('../font/lobster.woff') format('woff');
}

/* ::-moz-selection { color: #afe543; background: #23241f; } It is buggy at the moment... :/
     ::selection { color: #afe543; background: #23241f; } */

*,html,body{ padding: 0; margin: 0; } /* Reset */		 

body{
	background-image: url('../img/htone.png');
	font-family: "Helvetica", Arial, sans-serif;				
}

a, .post section.content abbr{	
	text-decoration: none;        /* Reset */
	-webkit-transition: all 0.2s; /* Animate the hovers */		
	   -moz-transition: all 0.2s;
		 -o-transition: all 0.2s;				
			transition: all 0.2s;
}	

#itvalidates{
	width:10%;
	margin-right: 36px;
	float: right;
}		

#itvalidates a{	/* The 'The HTML validates and so does the CSS!' text */	
	color: #000000;
	font-size: 12px;
	font-family: "Courier", monospace;
	text-transform: lowercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	opacity: 0.3;
}

#itvalidates a:hover{ opacity: 1; }
	
#wrapper{
	width: 850px;
	margin: 20px auto;
	padding: 15px 0px;
	background-image: url('../img/darth_stripe.png'); /* Made by Ashton @ http://http://subtlepatterns.com */
	background-color: #23241f;
	border: 1px solid #99ff66;
	border-right: 0;
	border-left: 0;

	-webkit-box-shadow: inset 0 0 25px rgba(255,255,255,0.5), 0 0 10px rgba(0,0,0,0.25);
	   -moz-box-shadow: inset 0 0 25px rgba(255,255,255,0.5), 0 0 10px rgba(0,0,0,0.25);
	        box-shadow: inset 0 0 25px rgba(255,255,255,0.5), 0 0 10px rgba(0,0,0,0.25);
}

header{				
	border-bottom: 1px dotted rgba(255,255,255,0.25);
}			

header h1{
	min-height: 50px;
	padding-bottom: 10px;

	text-align: center;
	color: #f5f5f5;
	font-size: 40px;
	font-family: 'Lobster', Georgia, serif;			
	text-shadow: 0 1px 0 rgba(0,0,0,0.1),
				 0 0 50px rgba(160, 245, 82, 0.5),
				 0 0 100px rgba(255, 255, 255, 0.25);
}

header h1:hover{
	opacity: 0.9;
}

nav{
	padding: 10px 220px;
	cursor: default;
	border-bottom: 1px dotted rgba(255,255,255,0.25);					
}

nav ul li{				
	display: inline;
	list-style-type: none;

	font-family: "Courier New",monospace;
	font-size: 12px;
	color: #cccccc;
	padding: 0 7px;
	border-right: 1px solid #444444;
}

nav ul li:nth-child(12), nav ul li:nth-child(24){
	border: 1px solid transparent;
}			

nav ul li.active:nth-child(even) a{
	color: #cc6926;
	border-bottom: 1px dotted #cc6926;
}

nav ul li.active:nth-child(odd) a{
	color: #fa9451;
	border-bottom: 1px dotted #fa9451;
}

nav ul li.active:nth-child(even) a:hover{
	color: #fa9451;
	border-bottom: 1px dotted #fa9451;
}

nav ul li.active:nth-child(odd) a:hover{
	color: #cc6926;
	border-bottom: 1px dotted #cc6926;
}

nav ul li.inactive a{
	cursor: default;
	color: #5e5e5e;
}

nav ul li.inactive a:hover{
	color: #5e5e5e;
}

.post{				
	width: 700px;
	margin: 10px auto;

	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.15);
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		    border-radius: 4px;
}

.post section.top{
	padding: 5px 0;
	border-bottom: 1px dashed rgba(255,255,255,0.25);
}

.post section.top h2, #post section.top span{				
	display: inline;
	margin: 0 10px;
}

.post section.top h2{
	font-family: "Georgia", serif;
	font-style: italic;
	font-size: 18px;				
	text-shadow: 0 3px 0 rgba(0,0,0,0.3);
}

.post:nth-child(even) section.top h2 { color: #afe543; }
.post:nth-child(odd) section.top h2 { color: #a1dd47; }			

.post section.top h2:hover{
	opacity: 0.85;
}

.post section.top span{
	float: right;

	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	color: #f5f5f5;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
	text-transform: uppercase;
	cursor: help;			
}

.post section.top time{}

.post section.top span a{
	padding: 5px;
	color: #f5f5f5;
	font-size: 17px;
}

.post section.top span a:hover{
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.post section.content{
	padding: 15px;
}

.post section.content p:first-letter{
	margin-left: 20px;
}

.post section.content p{
	margin: 5px 0;
	color: #f5f5f5;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);	
}

.post section.content a{
	font-size: 15px;
	color: #ff8330;			
	border-bottom: 1px dashed #ff8330;
}

.post section.content a:hover{
	color: #cc6926;
	border-bottom: 1px dashed #cc6926;
}


.post section.content abbr{				
	cursor: help;
	font-size: 15px;
	color: #8ebbff;
	border-bottom: 1px dashed #8ebbff;
}

.post section.content abbr:hover{
	color: rgba(142, 187, 255, 0.75);
	border-bottom: 1px dashed rgba(142, 187, 255, 0.75);
}

.post section.content code{				
	vertical-align: 1px;	
	font-size: 15px;
	font-family: "Courier", monospace;
	color: #e0eb69;
}

.post section.content q, .post section.content dfn{
	quotes: '"' '"' "'" "'" 
}

.post section.content dfn:before{ content: '"'; }
.post section.content dfn:after{ content: '"'; }			

.post section.content blockquote{
	padding: 0 25px;
	font-size: 15px;
	color: #f3c3ff;
}

.post section.content .image{
	max-width: 350px;
	margin: 10px;
	padding: 5px;
	background: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.1);

	-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.25), 0 0 10px rgba(255,255,255,0.5);
	   -moz-box-shadow: inset 0 0 25px rgba(0,0,0,0.25), 0 0 10px rgba(255,255,255,0.5);
	        box-shadow: inset 0 0 25px rgba(0,0,0,0.25), 0 0 10px rgba(255,255,255,0.5);
}

.post section.content #right{ float:right; }
.post section.content #left{ float:left; }

.post section.content .image img{
	max-width: 350px;
	display: block;
}

.post section.content .image:hover{
	-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.25);
	   -moz-box-shadow: inset 0 0 25px rgba(0,0,0,0.25);
			box-shadow: inset 0 0 25px rgba(0,0,0,0.25);
}

footer{
	overflow: auto;
	padding: 5px 80px;
	background-color: rgba(0,0,0,0.128);
	border-top: 1px dotted rgba(255,255,255,0.25);
	border-bottom: 1px dotted rgba(255,255,255,0.25);
}

footer ul li{
	display: inline;
	list-style-type: none;
	padding: 2px 0;

	font-size: 14px;
	color: #f5f5f5;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	cursor: default;
}

footer ul li:nth-child(-n+2):after{
	content: '•';
	margin-left: 5px;
}

footer a{
	float: right;
	font-size: 12px;
	color: #ff8330;			
	border-bottom: 1px dotted #ff8330;
}

footer a:hover{
	color: #cc6926;
	border-bottom: 1px dotted #cc6926;
}


