*{
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #FFF;
}

header, footer{
	padding: 25px 0;
	background: #DDD;
}

header h1, footer p{ text-align: center; }

main{
	background-color: #CCFFCC;
	overflow: hidden;
}

.content, nav{
	padding: 20px;
	float: left;
}

.content{
	display: block;
	width: 70%;
	background: #FFF;
	border-left: 2px solid #000;
}

.content li{ list-style: inside; }

nav{
	width: 30%;
	height: 100%; 
}

nav li{	list-style: none; }

nav li:hover{ opacity: .8; }

nav li a{
	display: block;
	margin-bottom: 10px;
	padding: 5px 10px;
	text-decoration: none;
	color: #130F14;
	background: #D88BE7;
}
