*{ /* Reset */
	margin: 0; 
	padding: 0;

	-webkit-box-sizing:border-box; /* Makes it so padding and ... */
	   -moz-box-sizing:border-box; /* ... borders don't mess with the width */
	   		box-sizing:border-box;
}

body{
	padding: 10% 0;
	color: rgba(0, 0, 0, 0.75);
	background: rgb(80, 100, 100);
}

header{
	top: 0;
	width: 100%;
	background-color: rgb(181, 10, 42);	
	position: fixed;	
	border-top: 10px solid rgb(211, 0, 42);
	border-bottom: 10px solid rgb(211, 0, 42);
	box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

header h1, header .links{
	display: inline-block;
	margin: 10px;
	width: 30%;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica, Arial, serif;
	text-transform: uppercase;
	-webkit-transition: all 0.05s linear;	
}

header h1{
	cursor: default;
	font-size: 2.4em;
	text-shadow: 1px 1px 0 rgb(211, 0, 42), 2px 2px 0 rgb(211, 0, 42),
				 3px 3px 0 rgb(211, 0, 42), 4px 4px 0 rgb(211, 0, 42),
				 5px 5px 0 rgb(211, 0, 42), 6px 6px 0 rgb(211, 0, 42),
				 7px 7px 0 rgb(211, 0, 42), 8px 8px 0 rgb(211, 0, 42);
}

header .links a{
	margin: 0 auto;
	padding: 0.2em 0;
	display: block;
	width: 60%;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.9em;
}

header .links a:hover{
	background-color: rgba(0,0,0,0.05);
}

.cv, .litreview{
	width: 70%;
	margin: 20px auto;	
}

.cv{
	padding: 2em;
	font-family: Arial, sans-serif;
	background: #f5f5f5;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.cv section.details{
	text-align: right;
}

.cv section.details h1{
	font-size: 2.5em;
	font-style: italic;
	padding-bottom: 0.25em;
	margin-bottom: 0.25em;
	border-bottom: 1px solid #000000;
}

.cv section.details p{
	padding: 0.25em;
}

.cv section.details p a{
	color: #000000;
	text-decoration: none;
}

.cv section.details p a:hover{
	text-decoration: underline;
}

.cv section.details p.address{
	white-space: pre;
}


.litreview{
	font-family: "Courier", monospace;
	background: #fff6d9 url('../img/linetile.png'); 

	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25), 5px 5px 0 #fff6d9, 5px 5px 5px rgba(0,0,0,0.25),
						10px 10px 0 #fff6d9, 10px 10px 5px  rgba(0,0,0,0.25), inset 0 60px 0 #fff6d9;
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25), 5px 5px 0 #fff6d9, 5px 5px 5px rgba(0,0,0,0.25),
					   	10px 10px 0 #fff6d9, 10px 10px 5px  rgba(0,0,0,0.25), inset 0 60px 0 #fff6d9;
			box-shadow: 0 0 5px rgba(0,0,0,0.25), 5px 5px 0 #fff6d9, 5px 5px 5px rgba(0,0,0,0.25),
				    	10px 10px 0 #fff6d9, 10px 10px 5px  rgba(0,0,0,0.25), inset 0 60px 0 #fff6d9, inset 0 -30px 0 #fff6d9;
}

.litreview section.text{
	display: inline-block;
	padding: 2em 4em;
}

.litreview section.text time{
	float: left;
}

.litreview section.text .name{
	margin: 0;
	float: right;
	font-family: "Georgia", "Times New Roman", serif;
	font-style: italic;
}

.litreview section.text h1{
	text-align: center;
	font-size: 1.2em;
	line-height: 20px;
	margin: 2.5em 0 20px;
	font-weight: bolder;
}

.litreview section.text p, .litreview section.text aside.references ul li{
	font-size: 1.125em;
	margin-bottom: 20px;
	line-height: 20px;
}

.litreview section.text p:before{
	content: '';
	margin-left: 2em;			
}

.litreview section.text aside.references{
	padding-top: 20px;
}

.litreview section.text aside.references h2{
	line-height: 20px;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.litreview section.text aside.references ul li{
	list-style-position: inside;
	list-style-type: square;
}

.litreview section.text mark, .litreview section.text a{
	padding: 0 0.25em;

	-webkit-border-radius: 25px 0px / 50px 0px;
	   -moz-border-radius: 25px 0px / 50px 0px;
			border-radius: 25px 0px / 50px 0px;
}

.litreview section.text mark{
	background-color: rgba(255, 255, 0, 0.4);	
}

.litreview section.text a{	
	color: rgba(0, 0, 0, 0.75);
	text-decoration: none;
	background-color: rgba(0, 255, 0, 0.4);	
}

.litreview section.text mark:hover, .litreview section.text a:hover{
	opacity: 0.9;

	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	   		box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.litreview section.text mark:hover{
	cursor: pointer;
}

.litreview section.text strong{
	font-weight: bolder;
	font-style: normal;
}

.litreview section.text strong:hover{
	cursor: pointer;	
	text-decoration: underline;
}
