*{ margin: 0; padding: 0; } /* Reset */

body{
	color: rgba(0, 0, 0, 0.75);
	font-family: "Courier", monospace;
	background: rgb(80, 100, 100);
}

article{			
	background: #fff6d9 url('../img/linetile.png');
	width: 70%;
	margin: 20px auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.25),
				5px 5px 0 #fff6d9,
				5px 5px 5px rgba(0,0,0,0.25),
				10px 10px 0 #fff6d9,
				10px 10px 5px  rgba(0,0,0,0.25),
				inset 0 60px 0 #fff6d9;
}

section.text{
	display: inline-block;
	padding: 2em 4em 0 4em;

	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box; 
	   		box-sizing:border-box;
}

section.text time{
	float: left;
}

section.text .name{
	margin: 0;
	float: right;
	font-family: "Georgia", "Times New Roman", serif;
	font-style: italic;
}

section.text h1{
	text-align: center;
	font-size: 1.2em;
	line-height: 20px;
	margin: 2.5em 0 20px;
	font-weight: bolder;
}

section.text p{
	font-size: 1.125em;
	margin-bottom: 20px;
	line-height: 20px;
}

section.text p:before{
	content: '';
	margin-left: 2em;			
}

section.text mark{
	padding: 0 0.5em;
	border-radius: 25px 0px / 50px 0px;
}

section.text mark:hover{
	cursor: pointer;
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.35);
}

section.text mark.ref{	
	background-color: rgba(255, 255, 0, 0.5);
}

section.text em{
	font-weight: bolder;
	font-style: normal;
}

section.text em:hover{
	opacity: 0.9;
	cursor: pointer;	
	text-decoration: underline;
}
