ul.notes
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") This is the message
  li.note(data-time="19:00") Last message
.note-compose
  textarea
  button.btn.btn-positive Send