include includes/head
body
  header.bar.bar-nav
    a.icon.icon-home.icon-left-nav.pull-left(href="settings.html" data-transition="slide-out")
    a.icon.icon-home.pull-right(href="home.html" data-transition="slide-out")
    h1.title Settings - Establishment Details
  block content
    .content
      .slider#mySlider
    
        .slide-group
    
          .slide
            
            .estab-details
              h1 Name
              p Duck Burger

              h1 Location
              p 700 Commercial Road, Portsmouth, PO1 3HE, UK
              p Known locally as 'central'
        
              h1 Opening times
              p 17:00 - 19:00

              img.map(src="img/map.jpg")
                  
          .slide
            include includes/notes
          .slide
            include includes/timer

  include includes/scripts