include includes/head
body
  header.bar.bar-nav
    a.icon.icon-home.icon-left-nav.pull-left(href="home.html" data-transition="slide-out")
    a.icon.icon-home.pull-right(href="home.html" data-transition="slide-out")
    h1.title Notes
  block content
    .content
      include includes/notes

  include includes/scripts
  script $(document).ready(function(){ $('.content').scrollTop($(document).height()); });