include includes/head
body
  header.bar.bar-nav
    h1.title Hello!
  block content
    .content.sign-in
      h1 Hello, Mystery Shopper
      p Sign in with the details supplied to you
      form
        .ids
          h2 IDs
          section
            label Shopper
            input(type="number" placeholder="007")

          section
            label Assignment
            input(type="text" placeholder="DB5")

        a.btn.btn-positive.btn-block(href="home.html" data-transition="slide-in") Let's shop!

  include includes/scripts