include includes/head
body
  header.bar.bar-nav
    a.icon.icon-home.icon-left-nav.pull-left(href="home.html" data-transition="slide-out")
    a.icon.icon-home.pull-right(href="home.html" data-transition="slide-out")
    h1.title Tasks
  block content
    .content
            
      ul.table-view

        li.table-view-cell.table-view-divider Building
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Assess outside cleanliness and tidyness
            span.badge.badge-positive ✓
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Assess inside cleanliness and tidyness
            span.badge.badge-positive ✓
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Amount of buildings to left
            span.badge 1
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Amount of buildings to right
            span.badge 3

        li.table-view-cell.table-view-divider Queue

        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | No of customers in front of you?
            span.badge.badge-negative #
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | No of cash registers were open?
            span.badge.badge-negative #
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | No of staff visible behind the counter?
            span.badge.badge-negative #

        li.table-view-cell.table-view-divider  Food

        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Order a super deal meal
            span.badge.badge-negative X
        
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Happy with the experience?
            span.badge.badge-negative X

          
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Which product did you order?
            span.badge.badge-negative X
          
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Which extras did you order?
            span.badge.badge-negative X
          
        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Which drink did you order?
            span.badge.badge-negative X

        li.table-view-cell.table-view-divider  Other

        li.table-view-cell
          a.navigate-right(href="notes.html" data-ignore="push")
            | Assess rest room
            span.badge.badge-negative X

        li.table-view-cell.media
          a.navigate-right(href="receipt.html" data-transition="slide-in")
            span.media-object.pull-left.icon.icon-search
            span.badge.badge-negative X
            .media-body Scan receipt

  include includes/scripts