include includes/head
body
  header.bar.bar-nav
    a.icon.icon-home.icon-left-nav.pull-left(href="index.html" data-transition="slide-out")
    a.icon.icon-home.pull-right(href="index.html" data-transition="slide-out")
    h1.title Timer
  block content
    .content
      .slider#mySlider
    
        .slide-group
    
          .slide
            .timer
              button.btn.btn-positive.btn-block.timer-button Start timer

              h1 00.00

          .slide
            h1 Notes
            h2 Notes
            h3 Notes
            h4 Notes

  include includes/scripts