/* reset */
*::before,
*,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background: black;
}

.canvas{
  display: block;
  width: 100vh;
  height: 100vh;
}

.fps-counter {
  position: absolute;
  top: 0; left: 0;
  padding: .5em;

  color: white;
  text-transform: uppercase;

  background: black;
}
