body {
  margin: 0px;
  overflow: hidden;
}

.menu,
#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.start-button {
  padding: .5em;
  font-size: 15vw;
}
