/* _timer.scss */

.timer{
	padding: .5em;
}

.timer h1{
	text-align: center;
	font-weight: 500;
}

.timer-display{
	padding: .5em 0;

	font-size: 10em;
	color: white;

	background: #aaa;
	
	border-radius: 5px;
}