*{
	margin: 0; padding: 0;
	box-sizing: bored-box;
}

button{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}

@import 'ratchet';

.slider{
	background: white;
}

.slide{
	position: relative;
	background: white;
}

// slidey side scroll
.slide:first-child{ box-shadow: -5px -15px 25px rgba(0,0,0,.15); }
.slide:last-child{  box-shadow:  5px -15px 25px rgba(0,0,0,.15); }

.slide img{
	width: 100%;
}

@import 'timer';
@import 'notes';