*{
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #FFF;
}

header, footer{
	padding: 25px 0;
	background: #DDD;
}

header h1, footer p{ text-align: center; }

main{
	background-color: #ccffcc;
	overflow: hidden;
}

.content, nav{
	padding: 20px;
	float: left;
}

.content{
	display: block;
	width: 70%;
	background: #FFF;
	border-left: 2px solid #000;
}

nav{
	width: 30%;
	height: 100%; 
}

li{ list-style: inside; }